{%load static%}
{%block cards%}
{%for record in products%}

 <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src='../static/resourses/img/{{record.0}}.jpg' alt="">
                    <ul class="card-product__imgOverlay">
                      <li><button><i class="ti-search"></i></button></li>
                      <li><button><i class="ti-shopping-cart"></i></button></li>
                      <li><button><i class="ti-heart"></i></button></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>{{product.5}}</p>
                    <h4 class="card-product__title"><a href="/shop/{{record.0}}">{{record.2}}</a></h4>
                    <p class="card-product__price">{{record.3}} ₽</p>
                  </div> 
                </div>
              </div>

{%endfor%}
{%endblock%}